<p>inner-page works!</p>

<p id="param">Received innerId is {{innerId}}</p>
<p id="param$">Received innerId$ is {{innerId$ | async}}</p>

<p id="param2">Received innerIdD is {{innerIdD}}</p>
<p id="param2$">Received innerIdD$ is {{innerIdD$ | async}}</p>

<p id="query">Received query is {{query}}</p>
<p id="query$">Received query$ is {{query$ | async}}</p>

<p id="dataKey">Received dataKey is {{dataKey}}</p>
<p id="dataKey$">Received dataKey$ is {{dataKey$ | async}}</p>

<p id="dataKeyObject">Received dataKeyObject is {{dataKeyObject | json}}</p>
<p id="dataKeyObject$">Received dataKeyObject$ is {{dataKeyObject$ | async |json}}</p>

<div>
  <a [routerLink]="'/'" href="javascript:void(0)">Back</a>
</div>
<div>
  <a [routerLink]="'/inner/test-id-2'">Go to 'test-id-2'</a>
</div>
<div>
  <a [routerLink]="'/inner/test-id-2'" [queryParams]="{query: 'test'}" id="link-inner-query">Go to 'test-id-2?query=test'</a>
</div>

<div>
  <a [routerLink]="'/inner-2/test-id'" [queryParams]="{query: 'test'}">Go to 'inner-2/test-id?query=test'</a>
</div>
