<ul>
  <li><a routerLink="inner/test-id">Inner 1</a></li>
  <li><a [routerLink]="['books','12345789','new','free']">New free book</a></li>
  <li><a [routerLink]="['nested','books','12345789','new','free']">New free book (nested)</a></li>
</ul>
